.about{
    width: 1024px;
    height: 800px;
    margin: 0 auto;
}
.about_title{
    font-weight: 770;
    font-size: 76px;
    color: #C3073F;
    text-align: center;
    margin: 52px 0 0 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.about_text{
    color: #C3073F;
    font-weight: 750;
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.about_img{
    border-radius: 25px;
    width: 390px;
    height: 288px;
    margin: 0 0 0 267px;
}