@import url(../css/common/header.css);
@import url(../css/common/main.css);
@import url(../css/common/about.css);
@import url(../css/common/projects.css);
@import url(../css/common/contact.css);
@import url(../css/common/header_link.css);
@import url(../css/common/footer.css);
@import url();
@import url();
@import url();
@import url();
.container{
    width: 930px;
    margin: 0 auto;
}
body{
    background: url(../images/1644176231_26-abrakadabra-fun-p-povtoryayushchiisya-fon-dlya-saita-28.jpg);
}