@import url(../css/common/header.css);
@import url(../css/common/main.css);
h1{
    font-family: 'Bebas Neue';
}
h2{
    font-family: 'Bebas Neue';
}
li{
    font-family: 'Open Sans';
}
a{
    font-family: 'Open Sans';
}
a:hover{
    color: blue;
}
a:active{
    color: chartreuse;
}